.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #548E9E;
    padding: 10px 20px;
    display: flex;
    color: white;
    box-sizing: border-box;

    a{
      color:white;
    }

    a:hover{
      color: #7a7a7a;
    }
}

.header nav{
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100%;
    gap: 20px;
    a {
        color: white;
        cursor: pointer;
    }
}

.highlight {
    animation: flash-bg 1s ease-in-out;
  }
  
  @keyframes flash-bg {
    0% {
      background-color: #7a7a7a;
    }
    100% {
      background-color: transparent;
    }
  }
  